<br>
<mat-card class="KategorienLinks">
    <img src="assets\img\saitenins\Gitarre.jpg" alt="Gitarre">
    <mat-card-content>
        <h1>Gitarre</h1>
    </mat-card-content>
</mat-card>
<mat-card class="KategorienRechts">
    <img src="assets\img\saitenins\E-Gitarre.jpg" alt="E-Gitarre">
    <mat-card-content>
        <h1>E-Gitarre</h1>
    </mat-card-content>
</mat-card>
<br>
<mat-card class="KategorienLinks">
    <img src="assets\img\saitenins\Harfe.jpg" alt="Harfe">
    <mat-card-content>
        <h1>Harfe</h1>
    </mat-card-content>
</mat-card>
<br>
<mat-card class="KategorienRechts">
    <img src="assets\img\saitenins\Zither.jpg" alt="Zither">
    <mat-card-content>
        <h1>Zither</h1>
    </mat-card-content>
</mat-card>