<br>
<mat-card class="KategorienLinks">
    <img src="assets\img\übersicht\Violine_übersicht.jpg" alt="Saiteninstrumente_übersicht">
    <mat-card-content>
        <h1>Saiteninstrumente</h1>
    </mat-card-content>
</mat-card>
<mat-card class="KategorienRechts">
    <img src="assets\img\übersicht\Trompete_übersicht.jpg" alt="Blasinstrumente_übersicht">
    <mat-card-content>
        <h1>Blasinstrumente</h1>
    </mat-card-content>
</mat-card>
<br>
<mat-card class="KategorienLinks">
    <img src="assets\img\übersicht\Klavier_übersicht.jpg" alt="Tasteninstrumente_übersicht">
    <mat-card-content>
        <h1>Tasteninstrumente</h1>
    </mat-card-content>
</mat-card>
<br>
<mat-card class="KategorienRechts">
    <img src="assets\img\übersicht\Xylophon_übersicht.jpg" alt="Schlaginstrumente_übersicht">
    <mat-card-content>
        <h1>Schlaginstrumente</h1>
    </mat-card-content>
</mat-card>