img{
    max-width: 100%;
}
h1{
    text-align: center;
    color: white;
}
.KategorienLinks{
    float: left;
    margin-left: 14%;
    max-width: 500px;
    margin-top: 1%;
}
.KategorienRechts{
    float: right;
    margin-right: 14%;
    max-width: 500px;
    margin-top: 1%;
}
p{
    margin-right: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
mat-card{
    background-color: #202020;
}