img{
    width: 100%;
}
h1{
    text-align: center;
    color: white;
    text-size-adjust: calc(10);
}
a{
    text-decoration: none;
}
mat-card{
    background-color: #202020;
}
.wrapper{
    height: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.huelle{
    float: left;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}

@media only screen and (max-width: 1000px) {

.wrapper{
    margin-left: 1%;
    margin-right: 1%;
}

}

@media only screen and (max-width: 600px) {

.huelle{
    width: 98%;
}
}