mat-card{
    background-color: #202020;
    color: white;
}

.wrapper{
    padding-left: 10vw;
    padding-right: 10vw;    
    padding-top: 5%;
    padding-bottom: 100px;
    width: 80vw;
    float: left;
    background-color: #111111;
    min-height: 100%;
}

/* Instrument image */
.imgWrap{
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}
.imgWrap > img{    
    display: block;
    position: absolute;    
    height: 100%;
    width: 49%;
}

/* Instrument description top */
.text{
    width: 49%;
    float: right;
}

/* Instrument description bottom */
.textBeschreibung{
    width: 100%;    
    float: left;
    margin-top: 20px;
}

/* Instrument showcase */
.showcaseWrap{
    float: left;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: white;
    display: none;
}
.showcase{
    align-items: center;
}
.klavierShow{
    border:0px solid #eee; 
    overflow:hidden; 
    width:100%; 
    height:340px;
    display: none;
}
.gitarreShow{
    border:0px solid #eee; 
    overflow:hidden; 
    width:100%;
     height:340px;
     display: none;
}

.mat-stepper-vertical, .mat-stepper-horizontal {
    display: inline;
    color: white;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: white;
}
::ng-deep .mat-form-field-label {
    color: white;
}
::ng-deep .mat-input-element {
    caret-color: white!important;
}

/* Media queries */
/* laptop */
@media only screen and (max-width: 1000px) {
    .wrapper{
        padding-left: 1%;
        padding-right: 1%;
        width: 98%;
    }
    .klavierShow, .gitarreShow{
        height: 300px;
    }
}
/* phone */
@media only screen and (max-width: 700px) {
    .wrapper{
        width: 98%;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .text{
        padding-top: 350px;
        width: 100%;
        float: left;
    }

    /* Instrument image */
    .imgWrap{
        position: relative;
        display: inline-block;
        overflow: hidden;
    }
    .imgWrap > img{    
        display: block;
        position: absolute;    
        height: 50%;
        width: 100%;
    }
    .klavierShow, .gitarreShow{
        height: 240px;
    }
}