<div class="pageWrapper" >
    <div class="parallax_trumpet">
        <a  href="/blasinst">
            <div class="caption"> 
                <span class="border" onclick="click_Category">Blasinstrumente</span>
            </div>
        </a>
    </div>

    <div class="content">
        Entdecken Sie unsere sorgfältige Auswahl an Blasinstrumente.
        Mit mehr als 30 Jahren Eigenerfahrung mit Trompete, Tuba und co haben wir exzellente möglichkeiten Sie in jeder Situation zu beraten.        
    </div>    

    <div class="parallax_guitar">
        <a href="/saiteninst">
            <div class="caption"> 
                <span class="border">Saiteninstrumente</span>
            </div>
        </a>
    </div>

    <div class="content">
        Fast jeder kennt sie, Gitarrenmodelle, die man immer mal kennenlernen wollte, ohne sich gleich in Unkosten stürzen zu müssen.
        Oder die Momente, wenn man nur für ein Studio- oder Liveprojekt einen ganz bestimmten Sound herbeisehnt. 
        Da nicht jeder prophylaktisch eine riesige Gitarrensammlung aufbauen und pflegen kann, schaffen wir abhilfe.
    </div>

    <div class="parallax_piano">
        <a href="/tastinst">
            <div class="caption"> 
                <span class="border">Tasteninstrumente</span>
            </div>
        </a>
    </div>

    <div class="content">
        Egal ob großer Konzertflügel, Klavier oder Keyboard, von Verleih bis Aufbau am gewünschten Standort, bei uns sind Sie in besten Händen.
    </div>
</div>


