<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>    

<div class="topnav" id="myTopnav">
    <a id="home" href="/startseite" class="active">Home</a>
    <a id="uebersicht" href="/inuebersicht">Alle Instrumente</a>
    <a id="dev" href="/showcase">showcase dev</a>
    <a href="javascript:void(0);" class="icon" (click)="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
  </div>

<router-outlet></router-outlet>
</body>
